services:
  # --- Backend Service (FastAPI + Llama 3) ---
  backend:
    build:
      context: ../backend  
      dockerfile: ../docker/Dockerfile.backend 
    
    env_file:
      - ../backend/.env  
    
    volumes:
      - ../backend/models:/app/models  # Mounts your local 'models' folder
    
    
    ports:
      - "8000:8000"  

  # --- Frontend Service (React + Vite) ---
  frontend:
    build:
      context: ../frontend/CSA-chatbot
      dockerfile: ../../docker/Dockerfile.frontend
    ports:
      - "5173:5173"
    
    depends_on:
      - backend